@using Blog.ActivityHub.Contracts

@if (Comment != null)
{
    var timeString = Comment.Created.ToDateTimeOffset().ToLocalTime().ToString("f");
    <p><strong title="@timeString">@Comment.Name</strong> says: @Comment.Content</p>
}

@code {

    [Parameter]
    public CommentResponse? Comment { get; set; }

}